@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
}

.container{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("bg.png") no-repeat center center/cover;
}

.container form{
    width: 680px;
    height: 450px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    flex-wrap: wrap;
    
}

.container form h1{
    color: #090909;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin: 8px,8px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 2px solid #fff;
}

.icon {
  position: relative;
  right: 10px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
  padding-left: 8px;
  
}

.container form input::placeholder{
    color: #0b0b0b;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #040404;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #070707;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form #button{
  
    width: 25%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none ;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
  
}

.container form #button:hover{
  
    background: white;
    color: #162938;
    transition: .5s;
}





